* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider{
    position: relative;
    max-width: 100%;
    height: 650px; /* Set a fixed height for the container */
    margin: 0 auto;
    overflow: hidden;

}
.slider-items {
    opacity: .1;
    transition: all 1s ;
    position: fixed;

}
.slider-items.active{
    opacity: 1;
    position: relative;
}

.slider-items img {
    width: 100%;          /* Make images take the full width of the container */
    height: 100%;         /* Make images take the full height of the container */
    object-fit: cover;    /* Ensures the image fills the container without stretching, cropping if necessary */
    display: block;
    position: relative;
}
 .slider-items .text-slider{
    position: absolute;
    bottom: 100px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: azure;
    font-size: 25px;
}
@media only screen and (max-width:765px) {
    .slider-items .text-slider{
        bottom: 0;
        font-size: 15px;
    }
    .slider  button{
        top: 30% !important;
    }
}
@media only screen and (max-width:552px) {
    .slider-items .text-slider{
        font-size: 10px;
    }
    .slider  button{
        display: none;
    }
}



/* Style for previous and next buttons */
.slider  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    border: none;
    padding: 16px;
    cursor: pointer;
    z-index: 1;
}

.slider  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider  .prev {
    left: 0;
}

.slider  .next {
    right: 0;
}
.slider  button .fa-solid{
    color: white;

}